[init]
	defaultBranch = main
[user]
	email = cokoghenun@gmail.com
	name = megaconfidence
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[core]
	excludesfile = ~/.dotfiles/.gitignore_global
[mergetool]
	keepBackup = false
